:root {
  --primary-color: #1356A7;
  --grey-color: #566066;
  --lightgrey: #DBDBDB;
  --darkgrey: #3F3F3F;
}

.hero,
.hero_content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.hero {
  overflow: hidden;
  background: url(../img/videostart.jpg) no-repeat 50% fixed;
  background-size: cover;
  z-index: -99;
}

.hero_video,
.hero iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 56.25vw;
  /* 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* 16/9*100 = 177.77 */
  margin-top: -40px;
}

.hero iframe {
  opacity: 1;
  z-index: -99;
}

.hero iframe.loaded {
  opacity: 1;
  z-index: -99;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(13, 57, 112, 0.9);
}

@font-face {
  font-family: 'Loew-Bold';
  src: url("../fonts/Loew-Bold.otf");
  src: local("Loew-Bold");
}

@font-face {
  font-family: 'Loew-ExtraBold';
  src: url("/fonts/Loew-ExtraBold.otf");
  src: local("Loew-ExtraBold");
}

@font-face {
  font-family: 'Loew-Medium';
  src: url("/fonts/Loew-Medium.otf");
  src: local("Loew-Medium");
}

@font-face {
  font-family: 'Loew-Regular';
  src: url("/fonts/Loew-Regular.otf");
  src: local("Loew-Regular");
}

@font-face {
  font-family: 'Loew-Light';
  src: url("/fonts/Loew-Light.otf");
  src: local("Loew-Light");
}

h2 {
  font-size: 2vw;
  line-height: 3vw;
}

h4 {
  font-size: 0.9vw;
}

h3 {
  font-size: 3vw;
  line-height: 52px;
}

p {
  font-size: 1.5vh;
  line-height: 1.5vw;
}

body {
  background: #0d3970;
  font-family: "Loew-Medium", sans-serif;
  margin: 0;
  color: white;
}

.container {
  margin: 2vw;
  padding: 0 1vw 0 1vw;
}

.logo {
  width: 178px;
  height: 40px;
  padding: 0 !important;
}

a:visited {
  text-decoration: none;
}

nav {
  position: absolute;
  top: 35%;
  right: 3vw;
}

nav input {
  display: none;
}

nav ul {
  z-index: 9999999;
  list-style: none;
  padding: 0;
}

nav ul li {
  font-size: 1vw;
  padding-top: 1vw;
  text-transform: uppercase;
  font-family: 'Loew-ExtraBold', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 160%;
  opacity: 0.8;
  -webkit-filter: blur(0.12vw);
          filter: blur(0.12vw);
  text-align: right;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  opacity: 1.0;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  font-size: 1.2vw;
  display: block;
  border-bottom: 0.1vw  solid #89D360;
}

nav ul .is-active {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  font-size: 1.2vw;
  display: block;
  border-bottom: 0.1vw  solid #89D360;
}

.main {
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main li {
  display: inline;
  font-size: 1vw;
}

.main li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main li a:hover {
  color: white;
  border-bottom: 0.1vw  solid #89D360;
}

.main ul li:last-child {
  padding-left: 10px;
}

.main img {
  vertical-align: middle;
  padding: 0 5px 0 5px;
}

.main .header-distributor {
  margin-left: auto;
}

.main p {
  margin-left: auto;
  font-size: 1vw;
  font-family: 'Loew-ExtraBold', sans-serif;
}

.main .aradlogo {
  height: 6wh;
  width: 8vw;
}

.main-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10vh;
  width: 48vw;
}

.main-content p {
  font-size: 1vw;
}

.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  margin-top: 15vh;
  display: block;
  width: 45vw;
}

.tech span {
  padding-right: 1vw;
  display: block;
}

.border {
  display: block;
  border-bottom: solid 0.1vw white;
  border-right: solid 0.1vw white;
}

.tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.tech-list ul {
  padding-left: 0 !important;
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.tech-list ul li {
  display: inline;
  margin: 0;
  vertical-align: middle;
}

.tech-list ul li img {
  width: 5vw;
}

.tech-list ul li:nth-child(1) {
  padding-left: 4vw !important;
}

.tech-list ul li:nth-child(1) img {
  width: 4vw;
}

.tech-list ul li:nth-child(2) img {
  width: 6vw;
}

.tech-list ul li:nth-child(4) img {
  width: 6vw;
}

.main-devices h4 {
  margin: 7vh 0 1vh 0;
}

.main-devices h3 {
  margin: 1vh 0 5vh 0;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-container .card {
  opacity: 0.6;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(233, 233, 233, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(233, 233, 233, 0.1));
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.0001);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.0001);
  border-radius: 28px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  margin-left: 1vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21vw;
  margin-top: 5vh;
  position: relative;
}

.features-container .card .card-head {
  position: relative;
}

.features-container .card .card-head .product-img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  position: absolute;
  margin-top: -50px;
  padding-left: 3vw;
  width: 14vw;
}

.features-container .card .card-head .octave-meter {
  width: 18vw !important;
  padding-left: 2vw;
}

.features-container .card .card-description {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15vw 2vw 0vw 2vw;
}

.features-container .card .card-description h4 {
  margin-top: 0.5vw;
  font-size: 2.9vh;
  margin-bottom: 0.5vw;
  line-height: 4vh;
}

.features-container .card .card-description h4 span {
  font-size: 1.6vh;
  line-height: 0.5vw;
}

.features-container .card .card-description p {
  font-size: 1.7vh;
  line-height: 3vh;
}

.features-container .card .card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.features-container .card .card-bottom p {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  display: block;
  text-align: center;
  margin: 0;
}

.features-container .card .card-bottom p img {
  padding-right: 5px;
  width: 0.6vw;
}

.features-container .visited {
  text-decoration: none;
  color: white;
}

.features-container .card:hover {
  opacity: 1;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(233, 233, 233, 0.1)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(233, 233, 233, 0.1));
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
}

.features-container .card:hover .card-description {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.features-container .card:hover .card-head {
  position: relative;
}

.features-container .card:hover .card-head .product-img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  position: absolute;
  margin-top: -50px;
  padding-left: 3vw;
  width: 14vw;
}

.features-container .card:hover .card-head .octave-meter {
  width: 18vw !important;
  padding-left: 2vw;
}

.features-container .card:hover .card-bottom {
  margin-top: 2vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 20px;
  background: radial-gradient(280.83% 161.51% at -7.58% 0%, rgba(137, 211, 96, 0.75) 6.82%, rgba(137, 211, 96, 0.75) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0px 0px 28px 28px;
}

.features-container .card:hover .card-bottom p {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  display: block;
  text-align: center;
}

.features-container .card:hover .card-bottom p img {
  padding-right: 5px;
  width: 0.6vw;
}

.features-container .meters {
  margin-left: 2vw;
}

.features-container .sonata {
  padding-left: 2vw;
}

.features-container .device-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 36vw;
  height: 15vh;
}

.features-container .device-features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-container .device-features ul li {
  width: 17vw;
}

.features-container .device-features ul li img {
  width: 2vw;
}

.features-container .device-features ul li p {
  margin-top: 0.2vh;
  font-size: 1.5vh;
  line-height: 1.5vw;
}

.features-container .device-features ul li p span {
  color: #89D360;
  font-family: "Loew-ExtraBold", sans-serif;
  font-weight: bold;
}

.features-container .device-features ul li:nth-child(2) {
  padding-left: 1vw;
}

.features-container .device-features ul li:nth-child(3) {
  padding-top: 1vw;
}

.features-container .device-features ul li:nth-child(4) {
  padding-top: 1vw;
}

.features-container .device-features ul li:nth-child(5) {
  padding-top: 1vw;
}

.platform .glass {
  top: 0;
  left: 38%;
  height: 99vh;
  width: 45vw;
  position: absolute;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(159, 159, 159, 0.251)), to(rgba(233, 233, 233, 0.1)));
  background: linear-gradient(to bottom right, rgba(159, 159, 159, 0.251), rgba(233, 233, 233, 0.1));
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.platform .cropped {
  width: 90vw;
  /* width of container */
  height: 85vh;
  /* height of container */
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.platform-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.platform-content .serwant-ipad {
  margin-top: -5%;
  margin-left: -20%;
}

.platform-content .serwant-ipad img {
  width: 70vw;
}

.platform-content .platform-text {
  margin-left: -35vw;
  width: 40vw;
}

.platform-content .platform-text h2 {
  margin-top: 0;
}

.platform-content .platform-text ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 40vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.platform-content .platform-text ul li {
  width: 15vw;
  display: block;
}

.platform-content .platform-text ul li img {
  padding-right: 0.7vw;
  width: 2vw;
}

.platform-content .platform-text ul li:nth-child(2) {
  margin-left: 3vw;
}

.platform-content .platform-text ul li:nth-child(4) {
  margin-left: 3vw;
}

.partners .partners-content {
  margin-top: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33vw;
}

.partners .partners-content h4 {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.partners .partners-content h3 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.partners .partners-content p {
  margin-top: 3vh;
  font-size: 1.5vh;
}

.partners .partners-content p .green {
  color: #89D360;
}

.partners .partners-content .statistic {
  margin-top: 1vh;
}

.partners .partners-content .statistic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
  margin-top: 2vw;
  width: 50vw;
}

.partners .partners-content .statistic ul .green {
  color: #89D360;
  font-family: "Loew-ExtraBold", sans-serif;
}

.partners .partners-content .statistic ul .huge {
  color: white;
  font-size: 6vw;
  font-family: "Loew-ExtraBold", sans-serif;
}

.partners .partners-content .statistic ul li {
  line-height: 2vw;
  font-size: 2.2vh;
}

.partners .partners-content .statistic ul li:nth-child(2) {
  margin-left: 4vw;
}

.partners .partners-content .statistic ul li:nth-child(3) {
  margin-top: 2vw;
  line-height: 3vw;
}

.partners .part-logo {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.partners .part-logo ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding-left: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .part-logo ul .img-list {
  width: 3vw;
}

.partners .part-logo ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vh;
  padding-left: 2vw;
  margin-top: 0 img;
  margin-top-width: 2vh;
}

.partners .part-logo ul li p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5vw;
  margin-top: 0;
  color: #89D360;
}

.partners .part-logo ul li:nth-child(4) {
  margin-bottom: -0.2vw !important;
}

.partners .part-logo ul li:nth-child(5) {
  margin-top: -1vh !important;
}

.partners .part-logo ul li:nth-child(6) {
  margin-bottom: 1vh !important;
}

.partners .crop object {
  width: 70vw;
  height: 75vh;
  position: absolute;
  top: 18%;
  right: -5%;
  z-index: -11;
  margin: -1vw +5vw 0 0;
}

.contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info ul li {
  padding-top: 1vh;
}

.contact-info ul li .green {
  color: #89D360;
  font-size: 1.5vh;
}

.contact-info ul li p {
  margin-top: 1vh;
  font-size: 1.7vw;
  line-height: 2vw;
  font-family: 'Loew-Light', sans-serif;
}

.transition {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  p {
    font-size: 1.4vh !important;
    line-height: 2.5vh;
  }
  h4 {
    font-size: 1.3vh;
    line-height: 1.6vh;
  }
  h3 {
    font-size: 1.6;
    line-height: 1.6vh;
  }
  h2 {
    font-size: 2.7vh;
    line-height: 4vh;
  }
  .container {
    margin: 2vh;
    padding: 0 1vw 0 1vw;
  }
  .logo {
    width: 178px;
    height: 40px;
    padding: 0 !important;
  }
  a:visited {
    text-decoration: none;
  }
  nav {
    top: 1vh !important;
    right: 1vh !important;
    /*
		 * Just a quick hamburger
		 */
    /* 
		 * Transform all the slices of hamburger
		 * into a crossmark.
		 */
    /*
		 * But let's hide the middle one.
		 */
    /*
		 * Ohyeah and the last one should go the other direction
		 */
    /*
		 * Make this absolute positioned
		 * at the top left of the screen
		 */
    /*
		 * And let's slide it in from the left
		 */
  }
  nav #menuToggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 4vh;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  nav #menuToggle a {
    text-decoration: none;
    color: white;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  nav #menuToggle a:hover {
    color: #89D360;
  }
  nav #menuToggle input {
    display: block;
    width: 100vw;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  nav #menuToggle span {
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 2px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  nav #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  nav #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  nav #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  nav #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  nav #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  nav #menu {
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: -100px 0 0 -93vw;
    padding: 50px;
    padding-top: 125px;
    background: #1D4576;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  nav #menu ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
  }
  nav #menu li {
    padding: 10px 0;
    font-size: 4vh;
    margin-right: 2vh;
    text-align: center;
  }
  nav #menu li:hover {
    opacity: 1.0;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    font-size: 4vh;
    display: block;
    border-bottom: 0;
  }
  nav #menu .is-active {
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    display: block;
    border-bottom: 0;
  }
  nav #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
  .main {
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main .header-distributor {
    display: block;
    width: 100vh;
  }
  .main li {
    display: inline;
    font-size: 1vw;
  }
  .main li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .main li a:hover {
    color: white;
    border-bottom: 0.1vw  solid #89D360;
  }
  .main ul {
    display: none;
  }
  .main ul li:last-child {
    padding-left: 10px;
  }
  .main img {
    vertical-align: middle;
    padding: 0 5px 0 5px;
  }
  .main p {
    margin: 0.5vh 0 0.5vh 0 !important;
    font-size: 1.3vh;
    font-family: 'Loew-ExtraBold', sans-serif;
  }
  .main .aradlogo {
    width: 10vh;
  }
  .main .logo {
    margin-left: -1vh;
  }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1vh;
    width: 90vw;
    height: 35vh;
    padding-top: 20vh;
  }
  .tech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: end;
    margin-top: 15vh;
    display: block;
    width: 90vw;
  }
  .tech span {
    padding-right: 1vh;
    display: block;
  }
  .border {
    display: block;
    border-bottom: solid 0.1vw white;
    border-right: solid 0.1vw white;
  }
  .tech-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95vw;
  }
  .tech-list ul {
    padding-left: 0 !important;
    margin: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .tech-list ul li {
    display: inline;
    margin: 0;
    vertical-align: middle;
    margin-top: 1vh;
  }
  .tech-list ul li img {
    width: 8VH;
  }
  .tech-list ul li:nth-child(1) img {
    width: 5VH;
  }
  .tech-list ul li:nth-child(2) img {
    width: 8VH;
  }
  .tech-list ul li:nth-child(3) img {
    width: 10VH;
  }
  .tech-list ul li:nth-child(3) li:nth-child(4) img {
    width: 10VH;
  }
  .tech-list ul .main-devices h4 {
    margin: 7vh 0 1vh 0;
  }
  .tech-list ul .main-devices h3 {
    margin: 1vh 0 5vh 0;
  }
  .tech-list ul .features-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tech-list ul .features-container .card {
    opacity: 0.6;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(233, 233, 233, 0.1)));
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(233, 233, 233, 0.1));
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.0001);
            box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.0001);
    border-radius: 28px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    margin-left: 1vw;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 21vw;
    margin-top: 5vh;
    position: relative;
  }
  .tech-list ul .features-container .card .card-head {
    position: relative;
  }
  .tech-list ul .features-container .card .card-head .product-img {
    -webkit-filter: blur(1px);
            filter: blur(1px);
    position: absolute;
    margin-top: -50px;
    padding-left: 3vw;
    width: 14vw;
  }
  .tech-list ul .features-container .card .card-head .octave-meter {
    width: 18vw !important;
    padding-left: 2vw;
  }
  .tech-list ul .features-container .card .card-description {
    -webkit-filter: blur(1px);
            filter: blur(1px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15vw 2vw 0vw 2vw;
  }
  .tech-list ul .features-container .card .card-description h4 {
    margin-top: 0.5vw;
    font-size: 2.9vh;
    margin-bottom: 0.5vw;
    line-height: 4vh;
  }
  .tech-list ul .features-container .card .card-description h4 span {
    font-size: 1.6vh;
    line-height: 0.5vw;
  }
  .tech-list ul .features-container .card .card-description p {
    font-size: 1.7vh;
    line-height: 3vh;
  }
  .tech-list ul .features-container .card .card-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2vw;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .tech-list ul .features-container .card .card-bottom p {
    -webkit-filter: blur(1px);
            filter: blur(1px);
    display: block;
    text-align: center;
    margin: 0;
  }
  .tech-list ul .features-container .card .card-bottom p img {
    padding-right: 5px;
    width: 0.6vw;
  }
  .tech-list ul .features-container .visited {
    text-decoration: none;
    color: white;
  }
  .tech-list ul .features-container .card:hover {
    opacity: 1;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(233, 233, 233, 0.1)));
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(233, 233, 233, 0.1));
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
  }
  .tech-list ul .features-container .card:hover .card-description {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  .tech-list ul .features-container .card:hover .card-head {
    position: relative;
  }
  .tech-list ul .features-container .card:hover .card-head .product-img {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    position: absolute;
    margin-top: -50px;
    padding-left: 3vw;
    width: 14vw;
  }
  .tech-list ul .features-container .card:hover .card-head .octave-meter {
    width: 18vw !important;
    padding-left: 2vw;
  }
  .tech-list ul .features-container .card:hover .card-bottom {
    margin-top: 2vw;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 20px;
    background: radial-gradient(280.83% 161.51% at -7.58% 0%, rgba(137, 211, 96, 0.75) 6.82%, rgba(137, 211, 96, 0.75) 100%);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 0px 0px 28px 28px;
  }
  .tech-list ul .features-container .card:hover .card-bottom p {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    display: block;
    text-align: center;
  }
  .tech-list ul .features-container .card:hover .card-bottom p img {
    padding-right: 5px;
    width: 0.6vw;
  }
  .tech-list ul .features-container .meters {
    margin-left: 2vw;
  }
  .tech-list ul .features-container .sonata {
    padding-left: 2vw;
  }
  .tech-list ul .features-container .device-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 36vw;
    height: 15vh;
  }
  .tech-list ul .features-container .device-features ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tech-list ul .features-container .device-features ul li {
    width: 17vw;
  }
  .tech-list ul .features-container .device-features ul li img {
    width: 2vw;
  }
  .tech-list ul .features-container .device-features ul li p {
    margin-top: 0.2vh;
    font-size: 1.5vh;
    line-height: 1.5vw;
  }
  .tech-list ul .features-container .device-features ul li p span {
    color: #89D360;
    font-family: "Loew-ExtraBold", sans-serif;
    font-weight: bold;
  }
  .tech-list ul .features-container .device-features ul li:nth-child(2) {
    padding-left: 1vw;
  }
  .tech-list ul .features-container .device-features ul li:nth-child(3) {
    padding-top: 1vw;
  }
  .tech-list ul .features-container .device-features ul li:nth-child(4) {
    padding-top: 1vw;
  }
  .tech-list ul .features-container .device-features ul li:nth-child(5) {
    padding-top: 1vw;
  }
  .tech-list ul .platform .glass {
    top: 0;
    left: 38%;
    height: 99vh;
    width: 45vw;
    position: absolute;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(159, 159, 159, 0.251)), to(rgba(233, 233, 233, 0.1)));
    background: linear-gradient(to bottom right, rgba(159, 159, 159, 0.251), rgba(233, 233, 233, 0.1));
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
  .tech-list ul .platform .cropped {
    width: 90vw;
    /* width of container */
    height: 85vh;
    /* height of container */
    overflow: hidden;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .tech-list ul .platform-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tech-list ul .platform-content .serwant-ipad {
    margin-top: -5%;
    margin-left: -20%;
  }
  .tech-list ul .platform-content .serwant-ipad img {
    width: 70vw;
  }
  .tech-list ul .platform-content .platform-text {
    margin-left: -35vw;
    width: 40vw;
  }
  .tech-list ul .platform-content .platform-text h2 {
    margin-top: 0;
  }
  .tech-list ul .platform-content .platform-text ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 40vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tech-list ul .platform-content .platform-text ul li {
    width: 15vw;
    display: block;
  }
  .tech-list ul .platform-content .platform-text ul li img {
    padding-right: 0.7vw;
    width: 2vw;
  }
  .tech-list ul .platform-content .platform-text ul li:nth-child(2) {
    margin-left: 3vw;
  }
  .tech-list ul .platform-content .platform-text ul li:nth-child(4) {
    margin-left: 3vw;
  }
  .tech-list ul .partners .partners-content {
    margin-top: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33vw;
  }
  .tech-list ul .partners .partners-content h4 {
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
  .tech-list ul .partners .partners-content h3 {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .tech-list ul .partners .partners-content p {
    margin-top: 3vh;
    font-size: 1.5vh;
  }
  .tech-list ul .partners .partners-content p .green {
    color: #89D360;
  }
  .tech-list ul .partners .partners-content .statistic {
    margin-top: 1vh;
  }
  .tech-list ul .partners .partners-content .statistic ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
    margin-top: 2vw;
    width: 50vw;
  }
  .tech-list ul .partners .partners-content .statistic ul .green {
    color: #89D360;
    font-family: "Loew-ExtraBold", sans-serif;
  }
  .tech-list ul .partners .partners-content .statistic ul .huge {
    color: white;
    font-size: 6vw;
    font-family: "Loew-ExtraBold", sans-serif;
  }
  .tech-list ul .partners .partners-content .statistic ul li {
    line-height: 2vw;
    font-size: 2.2vh;
  }
  .tech-list ul .partners .partners-content .statistic ul li:nth-child(2) {
    margin-left: 4vw;
  }
  .tech-list ul .partners .partners-content .statistic ul li:nth-child(3) {
    margin-top: 2vw;
    line-height: 3vw;
  }
  .tech-list ul .partners .part-logo {
    position: absolute;
    bottom: 10%;
    right: 5%;
  }
  .tech-list ul .partners .part-logo ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
    padding-left: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tech-list ul .partners .part-logo ul .img-list {
    width: 3vw;
  }
  .tech-list ul .partners .part-logo ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5vh;
    padding-left: 2vw;
    margin-top: 0 img;
    margin-top-width: 2vh;
  }
  .tech-list ul .partners .part-logo ul li p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.5vw;
    margin-top: 0;
    color: #89D360;
  }
  .tech-list ul .partners .part-logo ul li:nth-child(4) {
    margin-bottom: -0.2vw !important;
  }
  .tech-list ul .partners .part-logo ul li:nth-child(5) {
    margin-top: -1vh !important;
  }
  .tech-list ul .partners .part-logo ul li:nth-child(6) {
    margin-bottom: 1vh !important;
  }
  .tech-list ul .partners .crop object {
    width: 70vw;
    height: 75vh;
    position: absolute;
    top: 18%;
    right: -5%;
    z-index: -11;
    margin: -1vw +5vw 0 0;
  }
  .tech-list ul .contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tech-list ul .contact-info ul li {
    padding-top: 1vh;
  }
  .tech-list ul .contact-info ul li .green {
    color: #89D360;
    font-size: 1.5vh;
  }
  .tech-list ul .contact-info ul li p {
    margin-top: 1vh;
    font-size: 1.7vw;
    line-height: 2vw;
    font-family: 'Loew-Light', sans-serif;
  }
}
/*# sourceMappingURL=main.css.map */